body {
  background: url(../../template/img/bg/bg-left.png) no-repeat left center, url(../../template/img/bg/bg-right.png) no-repeat right center;
}

h2,h3,h4,h5,h6 {
  color: #00838D;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 19px;
}

h6 {
  font-size: 18px;
}

figure {
  text-align: center;
}

figure img, img {
  max-width: 100%;
}


.calc-imc {
  border-radius: 20px;
  background-color: #ff9900;
  padding: 30px;
}

.calc-imc form {
  background-color: #004f53;
  padding: 20px;
}

.calc-imc p {
  color: #fff;
  margin-top: 30px;
}

figure figcaption {
  font-size: 12px;
  text-align: center;
}

.pagination {
  flex-wrap: wrap;
}

.objeto-audio1 {
  width: 652px;
  height: 658px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/obj/obj1/botao-audio-garota.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.objeto-audio1__img {
  position: absolute;
  transition: 400ms;
}

.objeto-audio1__img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.objeto-audio1__img--1 {
  top: 160px;
  right: 35px;
}

.objeto-audio1__img--2 {
  right: 35px;
  top: 250px;
}

.objeto-audio1__img--3 {
  right: 35px;
  top: 344px;
}

.objeto-audio1__img--4 {
  right: 35px;
  top: 438px;
}

.objeto-audio1__img--5 {
  right: 33px;
  top: 528px;
}

.objeto-audio1__img--6 {
  top: 157px;
  left: 28px;
}

.objeto-audio1__img--7 {
  top: 247px;
  left: 28px;
}

.objeto-audio1__img--8 {
  top: 341px;
  left: 28px;
}

.objeto-audio1__img--9 {
  top: 435px;
  left: 28px;
}

.objeto-audio1__img--10 {
  top: 525px;
  left: 28px;
}

.objeto-1-mobile__en,
.objeto-1-mobile__pt {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.objeto-1-mobile {
  display: none;
}

.icon-play {
  cursor: pointer;
}

.caixa {
  color: #00838D;
  border-color: #00838D;
  margin-bottom: 30px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.tooltip-sesc {
  border-bottom: 2px dotted #00838D;
  padding: 0px 4px;
  border-radius: 3px;
  cursor: pointer;
}

.info-beneficios {
  text-align: center;
}

.carousel-item figure img {
  max-height: 500px;
}

.accordion-collapse figure img {
  max-height: 500px;
}

.bt-libras {
  background-repeat: no-repeat;
  background-image: url(../img/ilustra/botao-libras.png);
  background-position: left center;
  width: 166px;
  height: 208px;
}

.bt-libras:hover {
  background-position: right center;
  cursor: pointer;
}

.center-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 40PX;
}

.text-center {
  text-align: center;
}

.icone.conar::before {
  background-image: url(../img/icons/logo-conar.png);
}

.botao_enganosa {
  background-image: url(../img/ilustra/botao-enganoso.png);
  background-position: left center;
  background-repeat: no-repeat;
  width: 300px;
  height: 231px;
}

.botao_enganosa:hover {
  background-position: right center;
  cursor: pointer;
}

.botao_abusiva {
  background-image: url(../img/ilustra/botao-abusivo.png);
  background-position: left center;
  background-repeat: no-repeat;
  width: 300px;
  height: 262px;
}

.botao_abusiva:hover {
  background-position: right center;
  cursor: pointer;
}

.citacao {
  padding-left: 5vw;
  font-size: 14px;
  font-family: cursive;
  text-align: justify;
  font-style: italic;
}

.modal-title {
  color: #ffffff;
}

.bt-argumento {
  background-position: left center;
  width: 273px;
  height: 289px;
  background-repeat: no-repeat;
  background-image: url(../img/ilustra/botao-discurso.png);
}

.bt-argumento:hover {
  cursor: pointer;
  background-position: right center;
}

.referencias p {
  word-wrap: break-word;
  word-break: keep-all;
}

.mapa {
  background-image: url(../img/obj/mapa/mapa-1.png);
  width: 800px;
  height: 613px;
  position: relative;
}

.mapa_pin {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff;
  position: absolute;
  transition: 400ms;
}

.mapa_pin:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.mapa_norte {
  left: 200px;
  top: 100px;
}

.mapa_norte_box,
.mapa_nordeste_box,
.mapa_centroeste_box,
.mapa_sudeste_box,
.mapa_sul_box  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-75%);
  display: none;
}

.mapa_nordeste {
  right: 100px;
  top: 200px;
}

.mapa_centroeste {
  top: 250px;
  right: 400px;
}

.mapa_sudeste {
  top: 300px;
  right: 200px;
}


.mapa_sul {
  top: 400px;
  right: 325px;
}


.mapa_mobile {
  display: none;
}

.custom_painel {
  width: 598px;
  height: 492px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/obj/painel/painel-clicavel-layout.png);
  position: relative;
}

.painel_clicavel_img {
  position: absolute;
  transition: 300ms;
}

.painel_clicavel_img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.clicavel_img--1 {
  bottom: 89px;
  left: 7px;
}

.clicavel_img--2 {
  left: 55px;
  top: 64px;
}

.clicavel_img--3 {
  top: -10px;
  left: 213px;
}

.clicavel_img--4 {
  top: 81px;
  right: 32px;
}

.clicavel_img--5 {
  bottom: 96px;
  right: 10px;
}

.pagination {
  margin-top: 40px;
}

.pagination li.active a,
.pagination li.active a:visited{
  background-color: rgb(0, 131, 141);
  color: #fff;
}
.pagination li a:visited {
  background-color: #cce6e8;
}

@media only screen and (max-width: 850px) {
  .aviso_mobile {
    display: none;
  }
  .mapa {
    display: none;
  }
  .mapa_mobile {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .objeto-audio1 {
    display: none;
  }

  .objeto-1-mobile {
    display: block;
  }

  .custom_painel {
    transform: scale(0.5);
    margin-left: -142px;
  }
}

